<dialog 
  {{ stimulus_controller('confirm--delete-player-price-rule') }}
  data-action="crud--player-price-rule:onDelete@window->confirm--delete-player-price-rule#onDelete"
  id="delete_player_price_rule_confirm" 
  class="modal">
  <div class="modal-box">
    <form id="close-delete-player-price-rule-confirm-form" method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">¿Seguro que queres proceder?</h3>
    <p class="py-4">Una vez eliminado, no se podra revertir la acción.</p>
    <form
      id="delete-player-price-rule-confirm-form"
      {{ stimulus_target('confirm--delete-player-price-rule', 'form') }} 
      action="" 
      method="post">
      <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
    </form>
    <div class="modal-action">
      <button 
        type="submit" 
        class="btn" 
        form="close-delete-player-price-rule-confirm-form"
      >
        Cancelar
      </button>
      <button class="btn btn-error" form="delete-player-price-rule-confirm-form">Eliminar</button>
    </div>
  </div>
</dialog>
