{% extends "layout/main.html.twig" %} 
{% block drawer_content_actions %}
<a href="{{ path('ml_rules', { id: ml.id }) }}" class="btn btn-accent btn-outline">
  Reglas de cartas
</a>
<a class="btn btn-primary">
  Participantes
</a>
<a href="{{ path('create_ml_invitation', { id: ml.id }) }}" class="btn btn-accent">
  Crear invitación
</a>
{% endblock %}

{% block drawer_content_title %}{{ ml.title }}{% endblock %}

{% block drawer_content %}
{% for message in app.flashes('error') %}
  <div class="py-4">{% include "components/error_alert.html.twig" %}</div>
{% endfor %}
{% for message in app.flashes('success') %}
  <div class="py-4">{% include "components/success_alert.html.twig" %}</div>
{% endfor %}

<div class="flex gap-8 flex-wrap">
  <div class="card w-96 h-56 bg-base-200 flex-1 cursor-pointer">
    <div class="card-body">
      <h2 class="card-title text-3xl">Mi equipo</h2>
      <p class="text-lg">Gestiona tu equipo, controla el gasto y salario de los jugadores.</p>
    </div>
  </div>
  <div class="card w-96 h-56 bg-base-200 flex-1 cursor-pointer">
    <div class="card-body">
      <h2 class="card-title text-3xl">Otros equipos</h2>
      <p class="text-lg">Hecha un vistazo a tus rivales, en este apartado podras ver a otros equipos y sus jugadores, también podrás realizar ofertas desde este apartado</p>
    </div>
  </div>
  <div class="card w-full h-56 bg-base-200 cursor-pointer"> 
    <div class="card-body">
      <h2 class="card-title text-3xl">Transferencias</h2>
      <p class="text-lg">Acá podras consultar todos los movimientos del mercado.</p>
    </div>
  </div>
</div>
{% endblock drawer_content %}
